@use '../../../style/index' as *;
//--------------------------------------------------------------------------------------------------------------------------------------------

.dashboard-card {
    margin: $size ;
    width: 250px;
    @include display-flex();
    @include justify-content(space-evenly);

    align-items: center;
    background-color: $white;
    @include border-radius($size * 3);
    box-shadow: $box-shadow;

    .card-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .card-body {

        .card-title {
            span {
                color: $primary-dark;
                font-weight: 800;
                font-size: calc($size *2);
            }
        }

        .card-count {
            font-weight: 600;
            font-size: calc($size *3);
            color: $secondary-dark;
        }
    }
}