@use '../../../../style/index' as *;

//--------------------------------------------------------------
.employee-dialog {

    @include display-flex();
    flex-direction: column;

    .employeeForm {
        max-width: 600px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .group {
            width: 100%;
            margin: $size 0;
            @include display-flex();
            @include flex-wrap(wrap);
            @include justify-content(space-between);

            @include customBreakPoints(600px) {
                @include flex-direction(column);
                @include justify-content(space-between);
            }
        }

    }

}