<section class="dashboard-filter">

  
    <!-- //-------------------------------------------------------------------------------------------- -->

    <ng-template #filterForm>
        <div>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button matDialogClose="no">No</button>
            <button mat-button matDialogClose="yes">Yes</button>
        </mat-dialog-actions>
    </ng-template>


    <ng-template #addEmployee >
       
        <mat-dialog-actions align="end">
            <button mat-button matDialogClose="no">No</button>
            <button mat-button matDialogClose="yes">Add Employe</button>
        </mat-dialog-actions>
    </ng-template>

</section>