@use '../../../../style/index' as *;

//----------------------------------------------------
.table-container {
    overflow: hidden;

    .tableSection {
        overflow-x: auto;
        table {
            .mdc-data-table__content{
                .mat-mdc-row{
                    
                }
            }
        }

    }

    .dialog {
        @include display-flex();
        @include flex-wrap(wrap);

    }

    .filter-dialog {
        img {
            width: 50px;
        }
    }
}

.mat-table {
    overflow-x: scroll;
}