<section class="dashboard">

    <div class="container">
        <section class="dashboard-content">
            <div class="container">
                <div class="content-header">
                    <dashboard-card cardIcon="./assets/svg/svg-department.svg" cardCount="12"
                        cardTitle="Departments"></dashboard-card>
                    <dashboard-card cardIcon="./assets/svg/svg-employees.svg" cardCount="25"
                        cardTitle="Employees"></dashboard-card>
                </div>
            </div>
        </section>
        <app-dashboard-filter></app-dashboard-filter>
        <app-dashboard-table></app-dashboard-table>

    </div>

</section>