<section class="dashboard">

    <div class="container">
        <section class="dashboard-content">
            <div class="container">
                <div class="content-header">
                    <dashboard-card cardIcon="./assets/svg/svg-department.svg" [cardCount]="departmentLenght"
                        cardTitle="Departments"></dashboard-card>
                    <dashboard-card cardIcon="./assets/svg/svg-employees.svg" [cardCount]="employeeLenght"
                        cardTitle="Employees"></dashboard-card>
                </div>
            </div>
        </section>
        <div class="dialog">
            <div class="filter-dialog">
                <img (click)="openFilterDialog()" src="./assets/svg/svg-filter.svg" width="70px" alt="" srcset="">
            </div>
            <div class="add-dialog">
                <img (click)="openAddDialog()" src="./assets/svg/svg-add-employee.svg"   width="70px" alt="" srcset="">
            </div>
        </div>
        <app-dashboard-filter></app-dashboard-filter>
        <app-dashboard-table></app-dashboard-table>

    </div>

</section>