<section class="dashboard">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <p>Auto-resizing sidenav</p>
            <p *ngIf="true">Lorem, ipsum dolor sit amet consectetur.</p>

        </mat-drawer>

        <div class="example-sidenav-content">
            <!-- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button> -->
        </div>
        <section class="dashboard-content">
            <div class="content-header">
                <dashboard-card cardIcon="business_center" cardCount="12" cardTitle="Departments"></dashboard-card>
                <dashboard-card cardIcon="group" cardCount="25" cardTitle="Employees"></dashboard-card>
            </div>
            <div class="table-container">
              
              </div>
        </section>

    </mat-drawer-container>




</section>